################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/min-quotation-takaful/.vs/min-quotation-takaful/FileContentIndex/3ee6407a-d809-49a4-95ff-458b812e6449.vsidx
/min-quotation-takaful/.vs/min-quotation-takaful/FileContentIndex/4e03a587-6c44-4ded-ba5f-3a2f5643d4e6.vsidx
